.password-form {
    display: flex;
    flex-direction: column;
  }
  .input-wrapper {
    position: relative;
    width: 205px;
  }
  
  .input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .input-wrapper i {
    position: absolute;
    right: 15px;
    top: 30px;
    color: grey;
  }
  
  .btn {
    width: 100px;
    color: blueviolet;
  }
  
  